.bg-custom {
    background-color:rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    -webkit-box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    box-shadow: 20px 20px 20px rgba(0,0,0,.5);
    z-index: 5;
  }