.bg-custom {
    background-color:#242526;
    -moz-box-shadow: 20px 20px 20px rgba(0,0,0,0);
    -webkit-box-shadow: 20px 20px 20px rgba(0,0,0,0);
    box-shadow: 20px 20px 20px rgba(0,0,0,0);
    z-index: 5;
  }